body{
   font-family: 'Roboto', sans-serif;
   
}

.nav-link:hover{
    background-color: #fce4ec !important;
    color: #004d40 !important;

}

.card{
    border: 0%;
    border-radius: none;
}

.card:hover, .card-img-top{
    background-color: #fce4ec !important;
 }

.card-link{
    text-decoration: none;
}


.text-pink{
    color: #e91e63 !important;
}

.bg-pink{
    background-color: #e91e63 !important;
}


.bg-green {
    color: #004d40 !important;
    background-color: #e0f2f1 !important;
}
